* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Inter , san;
}
body{
    color: #1f2937;
}
/* Reusable */
. contanir{
    max-width: 1100px;
    margin: auto;
    padding: 0  20px;
}
.btn{
    padding:  10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;

}
.primary{
    background: #16a34a;
    color: #333;
}
.secondry {
    border:  1px solid #ccc;
    color: #333;
}
.header{
    background: #7391da;
    padding:  15px 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #fff;
}
nav a {
    margin-left: 15px
    color:#e5e7eb;

}