*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.font-open-sans- {
  font-family: "open sans", sans-serif;
}
body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
.container {
    max-width: 1100px;
    margin: 0%;
    padding: 0 20px;
}
.logo{
    color: green;
    font-weight: 700;
    font-size: 24px;
}
.nav-link {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-link a {
    text-decoration: none;
    color: #6ac7e9;
    font-size: 14px;
}

}
/* Header */
header{
    background-color: #fff;
    padding: 20px  0;
    border-bottom: 1px solid  #eee;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Hero Section */
.hero {
    background-color: #0f172A; /* blue */
    color: white;
    padding:  100px 0;
    text-align: center;
}
.hero h1 {
    font-size:  48px;
    margin-bottom:  20px;
    color: #e0ece5;
}
.highlight {
    color: #2c9958;/*Green */;
}
.hero p {
    max-width: 600px;
    margin: 0 auto 30px;
    color: #d5e5f8;
    text-align: center;
}
/*Buttons */
.btn-primary {
    background: #2ECC71;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight:  600;
   
}
.btn-outline {
    border: 1px solid white;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}
/* Feature Card */
.features {
    text-align: center;
    padding:  80px  0;
}
.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin-top:  50px;
    
}
.card {
    background: #ffffff;
    padding:  30px;
    border-radius:  12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0,0,0.05);
    border: 1px solid  #f0f0f0;transition:  transfrom 0.3s ease;
}

    
    


   







 

  