*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.font-open-sans- {
  font-family: "open sans", sans-serif;
}
body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
.container {
    max-width: 1100px;
    margin: 0%;
    padding: 0 20px;
}
.btn-green{
    background-color: #22c55e;
    color: white !important;
    padding:  10px 18px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    
}
.btn-green:hover {
    background-color: #22c55e;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
    gap:  15px;
}
    




.nav-link {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-link a {
    text-decoration: none;
    color: #6ac7e9;
    font-size: 14px;
}

}
/* Header */
header{
    background-color: #fff;
    padding: 20px  0;
    border-bottom: 1px solid  #eee;
}
.navbar {
    display: flex;
    justify-content: space-between; /*logo left ,nav-right */
    align-items: center;
}
/* Hero Section */
.hero {
    background-color: #0f172A; /* blue */
    color: white;
    padding:  100px 0;
    text-align: center;
    background: url("../assets/hero-bg.png");
}
.hero h1 {
    font-size:  48px;
    margin-bottom:  20px;
    color: #e0ece5;
}
/*highlite */
.highlight {
    color: #22c55e !important;
}
.hero p {
    max-width: 600px;
    margin: 0 auto 30px;
    color: #d5e5f8;
    text-align: center;
}
/*Buttons */
.btn-primary {
    background: #2ECC71;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight:  600;
   
}
.btn-outline {
    border: 1px solid white;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}
.Features {
    text-align: center;
    padding: 60px 0;
    background-color: #fff;
}

 .section-header {
    text-align: center;
    margin-bottom: 50px;
 }
 .section-header p{
    color: #666;
    max-width: 600px;
    margin: 10px auto;
 }
 .Features-grid {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
   gap: 20px;
   max-width: 1100px;

 }
 .card {
    background: #ebcdcd;
    padding: 30px 20px;
    text-align: center;
    border-radius:  8px;
    transition: 0.3s;
 }
 .icon-circle{
    width: 50px;
    height: 50px;
    background-color:  #ff6b6b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto 20px;
 }
 .icon-circle img {
    width: 24px;
    filter: brightness(0) invert(1);
 }
 .card h3{
    font-size: 18px;
    margin-bottom: 10px;
    color: #1a1a1a;
 }
 .card p{
    font-size: 14px;
    line-height: 1.5;
    color: #777;
 }
    
    


   







 

  